body{
    background-color:#000000;   
  }
  #title {
    background-color:#000000;
    color: white;
    font-size: 60px;
    font-family: vox-round, sans-serif;
    font-weight: 400;
    font-style: italic;
    text-align: center;
  }
  
  #one{
  background-color: #F2D0C2;
    color: black;
    font-size: 30px;
    font-family: vox-round, sans-serif;
    font-weight: 300;
    font-style: italic;
    text-align: center;  
  }
  #two{
  background-color: #F2E6C2;
    color: black;
    font-size: 30px;
    font-family: vox-round, sans-serif;
    font-weight: 300;
    font-style: italic;
    text-align: center;  
  }
  #three{
  background-color: #E6F2C2;
    color: black;
    font-size: 30px;
    font-family: vox-round, sans-serif;
    font-weight: 300;
    font-style: italic;
    text-align: center;  
  }
  #four{
  background-color: #C2F2E1;
    color: black;
    font-size: 30px;
    font-family: vox-round, sans-serif;
    font-weight: 300;
    font-style: italic;
    text-align: center;  
  }#five{
  background-color: #C2E5F2;
    color: black;
    font-size: 30px;
    font-family: vox-round, sans-serif;
    font-weight: 300;
    font-style: italic;
    text-align: center;  
  }#six{
  background-color: #C2CDF2;
    color: black;
    font-size: 30px;
    font-family: vox-round, sans-serif;
    font-weight: 300;
    font-style: italic;
    text-align: center;  
  }
    