

*{
    box-sizing:border-box;
    padding:0;
    margin:0;
    }
    
    body{
      background-color:black;
      height:100vh;
      width:100vw;
      display:grid;
      place-items:center center;
      font-family: gothicus, serif;
      font-weight: 400;
      font-style: normal;
      font-size:40px;
      text-align: center;
    }
    .container{
      display:grid;
      height:720px;
      width:520px;
      position:relative;
      border:7px solid black;
      grid-template-columns:repeat(3,1fr);
      grid-template-rows:repeat(4,1fr);
    }
    .container>*{
      border:2px solid black;
    }
    .item1{
      background-color:#D14444
    }
    .item2{
      display:grid;
      background-color:white;
      grid-column:span 2;
      padding:5px;
      align-content:center;
    }
    h3{
      margin:0 0 5px 0;
    }
    .item3{
      background-color:#9FCECD;
    }
    
    .item4{
      background-color:#F5D14C;
    }
    .item5{
      background-color:#853B05;
    }
    .item6{
      background-color:#F5944C;
    }
    .item7{
      background-color:#6F926E
    }
    .item8{
      background-color:#A85381;
    }
    .item9{
      background-color:#D7E9CF;
    }
    .item10{
      background-color:#EAE7C4;
    }
      
    